a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
}