.app-header {
  max-width: 1280px;
  margin: 0 auto;
  &__navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  &__menu-items-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__logo-wrapper {

  }

  &__logo {
    position: relative;
    left: 25%;
    transform: translateX(-50%);
  }
  &__menu-items-button {

      color: var(--text-dark-grey);

  }
}
